.compile_panel {
    visibility: hidden;
    font-family: 'JetBrains Mono', monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: var(--var-bg);
    min-height: 30%;
    max-height: 85%;
}

.compile_panel__header {
    background: var(--var-btn-input-bg);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
}

.compile_panel__header:hover {
    cursor: move;
}

.compile_panel__header__btn-hide {
    position: absolute;
    display: flex;
    right: 15px;
    align-items: center;
    height: 40px;
}

.compile_panel__header__btn-hide:hover {
    cursor: default;
}

.compile_panel__header__img-hide {
    height: 60%;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 3px;
}

.compile_panel__header__img-hide:hover {
    background: var(--var-btn-input-bg-hover);
}

.compile_panel__header__run-text {
    color: var(--var-btn-input-font-color);
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.compile_panel__header__build-log-btn {
    display: flex;
    align-items: center;
    margin-left: 1%;
    border-bottom: solid 2px #0069c2;
    padding-top: 2px;
}

.compile_panel__header__build-log-btn:hover {
    background-color: var(--var-btn-input-bg-hover);
}

.compile_panel__header__build-log-btn__text {
    font-size: 80%;
    color: var(--var-btn-input-font-color);
    padding: 10px 10px 10px 10px;
}

.compile_panel__header__output-btn {
    display: flex;
    align-items: center;
    border-bottom: none;
}

.compile_panel__header__output-btn:hover {
    background-color: var(--var-btn-input-bg-hover);
}

.compile_panel__header__output-btn__text {
    font-size: 80%;
    color: var(--var-btn-input-font-color);
    padding: 10px 10px 10px 10px;
}

.compile_panel__console {
    font-size: 15px;
    color: var(--var-font-color) !important;
    padding-left: 8px;
    overflow: auto;
    height: 180px;
    line-height: 1.5;
    min-height: 75%;
}

.compile_panel__console::-webkit-scrollbar {
    width: 0;
}