:root {
    --var-header-logo-color: white;
    --var-header-font-color: #b8b8b8;
    --var-header-font-color-hover: white;
}

[light] {
    --var-header-logo-color: black;
    --var-header-font-color: #737373;
    --var-header-font-color-hover: black;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 900px;
    height: 70px;
    z-index: 100;
    background-color: var(--var-bg);
}

.header__vacuum {
    height: 120px;
}

.header__inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
}

.header__logo {
    display: flex;
    flex-direction: row;
}

.header__logo span {
    font-family: 'JetBrains Mono';
    color: var(--var-header-logo-color);
    font-size: 130%;
}

.header__contents {
    position: absolute;
    right: 2%;
    display: flex;
    align-items: center;
    color: var(--var-header-font-color);
}

.header__contents div {
    margin-left: 30px;
    width: auto;
}

.header__contents a {
    font-family: 'JetBrains Mono';
    color: var(--var-header-font-color);
    text-decoration: none;
}

.header__contents a:hover {
    color: var(--var-header-font-color-hover);
    cursor: pointer;
}

.header__theme {
    display: flex;
}

.header__theme img {
    width: 18px;
}

.header__theme img:hover {
    opacity: 0.6;
    cursor: pointer;
}